.eye-icon {
  align-self: center;
  cursor: pointer;
}
.error-message {
  color: red;
}
.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-card {
  padding: 30px;
  box-shadow: 1px 4px 10px 1px grey;
  display: flex;
  flex-direction: column;
}
.login-heading {
  font-family: 'Caveat';
  color: #1e293b;
  text-align: center;
}
.input-container {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.label-el {
  font-family: 'Roboto';
  color: #334155;
  margin-bottom: 10px;
}
.input-El {
  border-color: #cbd5e1;
  border-radius: 5px;
  height: 35px;
  width: 300px;
  outline: none;
}
.password-container {
  border: 2px solid #cbd5e1;
  border-radius: 5px;
  height: 35px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.password-input-el {
  border: none;
  height: 30px;
  width: 250px;
  outline: none;
}
.login-button {
  width: 300px;
  height: 35px;
  color: #ffffff;
  background-color: #304766;
  border-radius: 5px;
  cursor: pointer;
}

.show-hide-button {
  border: none;
  background-color: transparent;
}
